*{
    box-sizing: content-box;
}

/* html{
    cursor: url(favicon.png), auto;
} */

body {
    background-color:beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color:rgb(205, 41, 41);
    margin-left: 50px;
}

.logo{
    position: relative;
    width: 490px;
    margin-left: 25px;
    margin-top: -20px;
}

/* h3 {
    color: rgb(219, 65, 45);
    margin-left: 50px;
} */

a {
    color:rgb(236, 162, 162);
    text-decoration: none;
}

a:hover {
    color:rgb(199, 89, 75);
    background-color:rgba(199, 89, 75, 0.398);
}

p {
color: rgb(236, 162, 162);
margin-left: 50px;
}

.nav {
 display: block;
 width: 500px;
}

.vl {
  border-left: 1px solid rgb(236, 162, 162);
  height: 1000px;
  position: absolute;
  left: 540px;
  top: 0;
  position: fixed;
}

li{
    font-size: 15px;
}

.box{
    /* background-color: rgb(229, 82, 82); */
    width: 500px;
    height: 447px;
    /* border: 3px solid; */
    margin-top: 0px; 
    position: fixed;
}

.draggable{
    cursor: grab;
}

.drag1{
    width: 110px;
    margin-left: 320px;
}

.drag2{
    width: 150px;
    margin-left: 200px;
}

.content{
    display: flex;
    margin-left: 560px;
    margin-top:0px;
    width: 1080px;
    height: 2900px;
    background: beige;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.items{
    display:flex;
    background-color: beige;
    width: 1040px;
    height: 390px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.left{
    background-color: beige;
    width: 520px;
    height: 380px;
    margin: 5px;
}

.right{
    background-color: beige;
    width: 520px;
    height: 380px;
    margin: 5px;
    color: rgb(236, 162, 162);
}

.work{
    width:510px;
    height: 380px;
    box-shadow: 3px 3px 6px rgb(236, 162, 162);
}
